@model Bright_Ideas.Models.Register

    <div class="col-md-6">
        <h3>Register</h3>
        <hr>
        <form action="/register" method="post">
            <label asp-for="Name" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <label asp-for="Alias" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Alias" class="form-control">
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <label asp-for="Email" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <label asp-for="Password" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <label asp-for="PasswordConfirmation" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="PasswordConfirmation" class="form-control">
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <div class="col-md-4"><button class="btn btn-primary pull-right">Register</button></div>
        </form>
    </div>